<!doctype html>
<html>
<head>
    <title>URL Shortener API Using Express and MongoDB</title>
    <meta charset='utf-8'>
</head>
<body>
    <h2>URL Shortener API Microservice</h2>
    Enter a URL to generate a shortened URL as per the examples: <br><br>
    <i>https://short-url-api-express.herokuapp.com/new/http://www.reddit.com</i> <br><br>

    <b>Output: </b> <br>
    {'original-url': 'http://www.reddit.com, 'short_url': '2832'}
    <br><br>
    Enter the short URL shown, <i>https://short-url-api-express.herokuapp.com/2832</i>, 
    and you will be redirected to the full URL <i>http://www.reddit.com</i>.
</body>
</html> 